<p><%= t('.content', begin: @report_period.begin.strftime('%d.%m.%Y'), end: @report_period.end.strftime('%d.%m.%Y')) %></p>

<p>
  <%= t('.new_users_count', count: @new_users_count) %><br>
  <%= t('.deleted_users_count', count: @deleted_users_count) %><br>
  <%= t('.total_users_count', count: @total_users_count) %><br>
</p>
