@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
   resize: vertical;
}

.center {
   text-align: center;
}

.center h1 {
   margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #337ab7;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(12, 75, 190);
  text-decoration: none;
}

#small-avatar {
  padding-top: 7px;
  padding-bottom: 7px;
}

#small-avatar img {
  border-radius: 50%;
}

.header-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #777;
  font-size: 20px;
  padding: 11px;
}

.header-button:hover {
  color: #333;
}

.no-notification {
  padding: 10px 20px;
  font-style: italic;
  color: #777777;
  white-space: nowrap;
}

.notification {
  white-space: nowrap;
  width: 600px;
  border-bottom: 1px solid #e5e5e5;
}

.notification:last-child {
  border: none;
}

.relation-button {
  padding: 13px;
}

.relation-message {
  color: #777777;
  padding: 20px;
}

.relation-right {
  float: right;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#user_avatar {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

#post_image {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}

.is-invalid {
  border-color: red;
  margin: 0 0 5px 0;
}

.wide-button {
  width: 100%;
  @include box_sizing;
  margin-top: 10px;
}

#user_remember_me, #user_remove_avatar, #post_commentable {
  width: auto;
  margin-right: 5px;
}

.edit-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#follow-form, #follow-form div, .notification div {
  display: inline-block;
}

.edit-form {
  margin-bottom: 30px;
}

/* flash */

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}