.post {
  max-width: 616px;
  border: 1px solid #e7e7e7 ;
  border-radius: 3px;
  margin: 40px auto;
  background-color: #f8f8f8;
}

.post-avatar img {
  margin: 12px;
  border-radius: 50%;
}

.post-nick, .post-nick:hover {
  font-weight: 600;
  color: black;
}

.post-created {
  font-size: 12px;
  margin: 8px 12px;
  color: #777;
}

.post-comment {
  margin: 3px 12px 8px;
}

.post-dropdown {
  float: right;
  padding: 20px;
}

.post-dropdown a {
  color: #777;
}

.post-dropdown a:hover {
  color: #333;
}

.delete {
  color: #b94a48 !important;
}

.edit-post-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.post-like {
  margin: 8px 12px 0;
  display: inline-block;
}

.post-like div {
  display: inline-block;
}

.post-like-count {
  position: relative;
  bottom: 3px;
  left: 3px;
}

.like-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  font-size: 20px;
}

.liked, .liked:hover {
  color: red;
}



.header-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #777;
  font-size: 20px;
  padding: 11px;
}
