.post {
  max-width: 616px;
  min-width: 616px;
  border: 1px solid #e7e7e7 ;
  border-radius: 4px;
  margin: 40px auto;
  background-color: #f8f8f8;
}

.post-avatar img {
  margin: 12px;
  border-radius: 50%;
}

.post-nick, .post-nick:hover {
  font-weight: 600;
  color: black;
}

.post-created {
  font-size: 12px;
  margin: 8px 15px;
  color: #777;
  padding-left: 3px;
}

.post-dropdown {
  float: right;
  padding: 20px;
}

.post-dropdown a {
  color: #777;
}

.post-dropdown a:hover {
  color: #333;
}

.delete {
  color: #b94a48 !important;
}

.edit-post-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.post-like {
  margin: 8px 15px 0;
  display: inline-block;
}

.comment-like {
  display: inline-block;
  padding-left: 3px;
}

.post-like div, .comment-like div {
  display: inline-block;
}

.post-like .like-count {
  position: relative;
  bottom: 3px;
  left: 3px;
}

.comment-like .like-count {
  font-size: 12px;
}

.like-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.post-like .like-button {
  font-size: 20px;
}

.comment-like .like-button {
  font-size: 12px;
}

.liked, .liked:hover {
  color: red;
}

.header-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #777;
  font-size: 20px;
  padding: 11px;
}

/* comment */

.post-comment {
  line-height: 120%;
  margin: 2px 15px 6px;
}

.comment-body {
  width: fit-content;
  border-radius: 4px;
  padding: 3px 3px 0;
}

.new-comment-form {
  position: relative;
  margin: 15px;
  width: 85%;
}

.new-comment-form textarea {
  resize: none;
}

.nested-comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nested-comments ul {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}

.comment-submit {
  position: absolute;
  width: 60px;  
  top: 10px;
  left: 530px;
}

.comment-link:link,
.comment-link:hover,
.comment-link:visited {
  color: #777;
  font-size: 12px;
  margin-left: 10px;
}

.highlighted {
  background-color: rgb(220, 220, 220);
}
