.profile {
  padding: 50px 0;
  overflow: auto;
}

.profile-image {
  float: left;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.profile-image img,
.edit-profile-image img,
.medium-info img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-real-name,
.profile-stats {
    float: left;
    width: 60%;
}


.profile-nick-name {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  margin-right: 30px;
  margin-top: 5px;
}

.profile-real-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 23px;
}

.profile-stats ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-stats ul li {
  display: inline;
  margin-right: 50px;
  font-size: 16px;
}

.profile-stat-link,
.profile-stat-link:hover {
  text-decoration: none;
  color: black;
}

.profile-stat-count {
  font-weight: 600;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: auto;
}

.gallery-item {
  position: relative;
  margin: 10px;
  width: auto;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image img {
  display: block;
}

.follow-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.follow-item {
  background-color: #f8f8f8;
  border: 1px solid white;
}

.nav-relation {
  float: right;
}

.follow-button {
  margin: 13px;
}

.follow-message {
  margin: 20px 13px;
}

.follow-item {
  background-color: #f8f8f8;
}

.medium-info {
  text-align: center;
}

.medium-info-nick {
  font-size: 40px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.medium-info-nick:hover {
  color: black;
  text-decoration: none;
}

.medium-info ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0;
}

.medium-info ul li {
  display: inline;
  margin: 15px;
}






